@use 'sass:math';
@import '../../shared/vars';

$psv-map-margin: 10px !default;
$psv-map-background: rgba(61, 61, 61, 0.7) !default;
$psv-map-toolbar-font: 12px sans-serif !default;
$psv-map-toolbar-background: #222 !default;
$psv-map-toolbar-text-color: white !default;
$psv-map-button-size: 34px !default;
$psv-map-button-spacing: 3px !default;
$psv-map-button-color: $psv-buttons-color !default;
$psv-map-transition: ease-in-out 0.3s !default;

@function round-to($value, $precision) {
    @return math.div(math.round($value * $precision), $precision);
}

.psv-map {
    position: absolute;
    margin: $psv-map-margin;
    z-index: $psv-compass-zindex;
    transition: all $psv-map-transition;

    @at-root .psv--has-navbar & {
        margin-bottom: calc(#{$psv-navbar-height} + #{$psv-map-margin});
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: $psv-map-background;
        overflow: hidden;
        border-radius: 50%;
        cursor: move;
        transition: all $psv-map-transition;

        svg,
        img,
        canvas {
            width: 100%;
            height: 100%;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__toolbar {
        position: absolute;
        bottom: 1em;
        left: calc(50% - 3.25em); // (padding * 2 + icon * 2 + text) / 2
        display: flex;
        justify-content: center;
        align-items: center;
        font: $psv-map-toolbar-font;
        padding: 0.25em;
        border-radius: 1.5em;
        background: $psv-map-toolbar-background;
        color: $psv-map-toolbar-text-color;
        user-select: none;
        transition: opacity $psv-map-transition;

        svg {
            height: 1em;
            cursor: pointer;
        }

        &-text {
            width: 4em;
            text-align: center;
        }
    }

    &__button {
        position: absolute;
        width: $psv-map-button-size;
        aspect-ratio: 1;
        line-height: 0;
        background: $psv-map-background;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: center;
        color: $psv-map-button-color;
        cursor: pointer;
        transition: all $psv-map-transition;

        svg {
            width: 60%;
        }

        // "sigh"
        $button-position: #{round-to((1 - math.cos(45deg)) * 50%, 1000)};
        /* stylelint-disable max-line-length */
        $button-offset: #{$psv-map-button-size - round-to((1 - math.cos(45deg)) * $psv-map-button-size * 0.5, 1000) + $psv-map-button-spacing};
        /* stylelint-enable */

        &--top-left {
            left: $button-position;
            top: $button-position;
            transform: translate(-$button-offset, -$button-offset);
        }

        &--top-right {
            right: $button-position;
            top: $button-position;
            transform: translate($button-offset, -$button-offset);
        }

        &--bottom-left {
            left: $button-position;
            bottom: $button-position;
            transform: translate(-$button-offset, $button-offset);
        }

        &--bottom-right {
            right: $button-position;
            bottom: $button-position;
            transform: translate($button-offset, $button-offset);
        }
    }

    &--maximized {
        margin: 0;
        width: 100% !important;
        height: 100% !important;

        @at-root .psv--has-navbar & {
            height: calc(100% - #{$psv-navbar-height}) !important;
            margin-bottom: $psv-navbar-height;
        }
    }

    &--maximized &__container {
        border-radius: 0;
    }

    &--maximized &__button {
        border: 2px solid currentcolor;

        &--top-left {
            left: $psv-map-button-size + $psv-map-margin;
            top: $psv-map-button-size + $psv-map-margin;
        }

        &--top-right {
            right: $psv-map-button-size + $psv-map-margin;
            top: $psv-map-button-size + $psv-map-margin;
        }

        &--bottom-left {
            left: $psv-map-button-size + $psv-map-margin;
            bottom: $psv-map-button-size + $psv-map-margin;
        }

        &--bottom-right {
            right: $psv-map-button-size + $psv-map-margin;
            bottom: $psv-map-button-size + $psv-map-margin;
        }
    }

    &--collapsed {
        width: $psv-map-button-size !important;
        height: $psv-map-button-size !important;

        & > * {
            opacity: 0;
        }
    }

    &--collapsed &__button-close {
        opacity: 1;
        transform: translate(0, 0);
        z-index: 1;
    }

    &--top-left {
        top: 0;
        left: 0;
    }

    &--top-right {
        top: 0;
        right: 0;
    }

    &--bottom-left {
        bottom: 0;
        left: 0;
    }

    &--bottom-right {
        bottom: 0;
        right: 0;
    }
}
