.sidebar a:not(.active):not(:hover), .navbar a:not(.active):not(:hover) {
  color: inherit !important;
}

.sidebar a:hover, .navbar a:hover {
  text-decoration: none !important;
}

.theme-default-content:not(.custom) {
  max-width: 940px;
}

.md-theme-default a:not(.md-button):hover {
    color: $accentColor;
}

.md-tabs-content {
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}

.md-dialog-content.theme-default-content {
  margin: 0;
}
.md-dialog-content p:first-child:not(:only-child) {
  margin-top: inherit;
}
.md-dialog-content p:last-child:not(:only-child) {
  margin-bottom: inherit;
}

.site-name .md-badge {
  position: static;
  display: inline;
}

.vue-slider-process,
.vue-slider-mark-step,
.vue-slider-dot-handle,
.vue-slider-dot-tooltip-inner {
  background-color: $accentColor;
}

.vue-slider-rail,
.vue-slider-mark-step-ctive {
  background-color: lightness($accentColor, 90%);
}

/* sponsors */
.sponsors {
  text-align: center;
  margin-top: 2.5rem;
}
.sponsors a[title] {
  display: inline-block;
  position: relative;
  margin: 0 0.5em;
}
.sponsors a[title]::after {
  content: attr(title);
  position: absolute;
  bottom: -1.5em;
  left: 0;
  right: 0;
}
.sponsors .outbound {
  display: none !important;
}
.sponsors img {
  height: 50px;
}

/* options types + default */
h4:not(.release-subtitle) + ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

h4:not(.release-subtitle) + ul li {
  display: flex;
  align-items: center;
  margin-right: 1em;
  margin-top: 10px;
  padding: 0.2em 0.5em;
  font-size: 0.8rem;
  border: 1px solid var(--md-theme-default-primary);
  border-radius: 3px;
}

h4:not(.release-subtitle) + ul li code:last-child {
  margin-right: -0.3em;
}