@import '~photo-sphere-viewer-stylesheet';

.sidebar a:not(.active):not(:hover), .navbar a:not(.active):not(:hover) {
  color: inherit !important;
}

.sidebar a:hover, .navbar a:hover {
  text-decoration: none !important;
}

.theme-default-content:not(.custom) {
  max-width: 940px;
}
