$main-background: radial-gradient(#ffffff, #fdfdfd 16%, #fbfbfb 33%, #f8f8f8 49%, #efefef 66%, #dfdfdf 82%, #bfbfbf 100%);

$loader-color: rgba(61, 61, 61, 0.7);
$loader-width: 150px;
$loader-tickness: 10px;

$navbar-background: rgba(61, 61, 61, 0.5);

$buttons-height: 20px;
$buttons-padding: 10px;
$buttons-background: transparent;
$buttons-active-background: rgba(255, 255, 255, 0.1);
$buttons-color: rgba(255, 255, 255, 0.7);

$zoom-range-width: 80px;
$zoom-range-tickness: 1px;
$zoom-disk-diameter: 7px;
$zoom-buttons-width: 9px;
$zoom-buttons-tickness: 1px;

$autorotate-button-tickness: 1px;

$fullscreen-button-tickness: 2px;
$fullscreen-button-ratio: 4/3;

$download-button-tickness: 2px;
$download-button-size: 12px;

// CONTAINERS
.psv-container, .psv-container * {
  box-sizing: content-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.psv-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: $main-background;
}
  .psv-container.loading {
    text-align: center;
  }

.psv-canvas-container {
  position: absolute;
  z-index: 0;
}
  .psv-canvas-container canvas {
    display: block;
  }

// LOADER
.psv-loader {
  position: relative;
  color: $loader-color;
  width: $loader-width;
  height: $loader-width;
  border: $loader-tickness solid transparent;
}
  .psv-loader-canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

// Pseudo element trick to vertically center elements
.psv-container.loading:before, .psv-loader:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
  .psv-loader, .psv-loader-image, .psv-loader-text {
    display: inline-block;
    vertical-align: middle;
  }

// NAVBAR
.psv-navbar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  background: $navbar-background;
}

.psv-caption {
  color: $buttons-color;
  margin: $buttons-padding;
  white-space: nowrap;
  overflow: hidden;
  text-align:center;
}

.psv-button {
  float: left;
  padding: $buttons-padding;
  position: relative;
  cursor: pointer;
  height: $buttons-height;
  background: $buttons-background;
}
  .psv-button.active {
    background: $buttons-active-background;
  }

// ZOOM BUTTON
.psv-zoom-button {
  cursor: default;
}
  .psv-zoom-minus,
  .psv-zoom-plus {
    float: left;
    position: relative;
    cursor: pointer;
    width: #{$zoom-buttons-width};
    height: #{$zoom-buttons-width};
    color: $buttons-color;
    margin: #{($buttons-height - $zoom-buttons-width) / 2 - $zoom-buttons-tickness} 0;
    border: $zoom-buttons-tickness solid $buttons-color;
    border-radius: 30%;
    transition: transform 0.3s ease;
  }
    .psv-zoom-minus:before,
    .psv-zoom-plus:before,
    .psv-zoom-plus:after {
      content: '';
      position: absolute;
      top: #{($zoom-buttons-width - $zoom-buttons-tickness) /2};
      left: $zoom-buttons-tickness;
      width: #{$zoom-buttons-width - $zoom-buttons-tickness * 2};
      height: $zoom-buttons-tickness;
      background: $buttons-color;
    }
      .psv-zoom-plus:after {
        transform: rotate(90deg);
      }
    .psv-zoom-button:hover .psv-zoom-minus,
    .psv-zoom-button:hover .psv-zoom-plus {
      transform: scale(1.2);
    }
  .psv-zoom-range {
    float: left;
    padding: #{($buttons-height - $zoom-range-tickness) / 2} 10px;
  }
    .psv-zoom-range-line {
      position: relative;
      cursor: pointer;
      width: $zoom-range-width;
      height: $zoom-range-tickness;
      background: $buttons-color;
      transition: all 0.3s ease;
    }
      .psv-zoom-button:hover .psv-zoom-range-line {
        box-shadow: 0 0 2px $buttons-color;
      }
    .psv-zoom-range-handle {
      position: absolute;
      border-radius: 50%;
      top: #{($zoom-range-tickness - $zoom-disk-diameter) / 2};
      width: $zoom-disk-diameter;
      height: $zoom-disk-diameter;
      background: $buttons-color;
      transform: scale(1);
      transition: transform 0.3s ease;
    }
      .psv-zoom-button:hover .psv-zoom-range-handle {
        transform: scale(1.3);
      }

// AUTOROTATE BUTTON
$autorotate-sphere-width: $buttons-height - $autorotate-button-tickness * 2;
.psv-autorotate-button {
  width: $buttons-height;
}
  .psv-autorotate-sphere,
  .psv-autorotate-equator {
    border-radius: 50%;
    border-width: $autorotate-button-tickness;
    border-style: solid;
    border-color: $buttons-color;
  }
  .psv-autorotate-sphere {
    width: $autorotate-sphere-width;
    height: $autorotate-sphere-width;
    transform: rotateY(0deg);
    transition: all 0.3s ease;
  }
    .psv-autorotate-button:hover .psv-autorotate-sphere  {
      transform: rotateY(180deg);
    }
  .psv-autorotate-equator  {
    position: absolute;
    top: 50%;
    width: $autorotate-sphere-width;
    height: #{$autorotate-sphere-width / 10};
    margin-top: #{- $autorotate-sphere-width / 20 - $autorotate-button-tickness};
    transform: rotateY(0deg);
    transition: all 0.3s ease;
  }
    .psv-autorotate-button:hover .psv-autorotate-equator  {
      transform: rotateY(180deg);
      height: #{$autorotate-sphere-width / 4};
      margin-top: #{- $autorotate-sphere-width / 8 - $autorotate-button-tickness};
    }

// FULLSCREEN BUTTON
$fullscreen-width: $buttons-height * $fullscreen-button-ratio;
.psv-fullscreen-button {
  float: right;
  width: $fullscreen-width;
  height: $buttons-height;
}
  .psv-fullscreen-button div {
    position: absolute;
    width: $fullscreen-width;
    height: $buttons-height;
  }
  .psv-fullscreen-button div:before,
  .psv-fullscreen-button div:after {
    content: '';
    position: absolute;
    width: #{$fullscreen-width * 0.3 - $fullscreen-button-tickness};
    height: #{$buttons-height * 0.3 - $fullscreen-button-tickness};
    border-style: solid;
    border-color: $buttons-color;
    border-width: $fullscreen-button-tickness;
    transition: all 0.2s ease;
  }
    .psv-fullscreen-button:hover div:before,
    .psv-fullscreen-button:hover div:after {
      width: #{$fullscreen-width * 0.4 - $fullscreen-button-tickness};
      height: #{$buttons-height * 0.4 - $fullscreen-button-tickness};
    }
    .psv-fullscreen-button div:first-child:before {
      top: 0;
      left: 0;
      border-right-width: 0;
      border-bottom-width: 0;
    }
    .psv-fullscreen-button div:first-child:after {
      top: 0;
      right: 0;
      border-left-width: 0;
      border-bottom-width: 0;
    }
    .psv-fullscreen-button div:last-child:before {
      bottom: 0;
      left: 0;
      border-right-width: 0;
      border-top-width: 0;
    }
    .psv-fullscreen-button div:last-child:after {
      bottom: 0;
      right: 0;
      border-left-width: 0;
      border-top-width: 0;
    }

// DOWNLOAD BUTTON
.psv-download-button {
  width: $buttons-height;
  height: $buttons-height;
}
  .psv-download-button:before {
    content: '';
    position: absolute;
    width: $buttons-height;
    height: round($buttons-height / 3);
    bottom: $buttons-padding;
    border: $download-button-tickness solid $buttons-color;
    border-top-width: 0;
    border-radius: 0;
    transition: border-radius 0.2s ease;
  }
    .psv-download-button:hover:before {
      border-radius: $download-button-tickness;
    }
  .psv-download-button div {
    position: absolute;
    width: $download-button-size;
    height: $download-button-size;
    top: 50%;
    left: 50%;
    margin: #{- $download-button-size / 2};
    margin-top: #{- $download-button-size / 2 - $download-button-tickness};
    transition: margin-top 0.2s ease;
  }
    .psv-download-button:hover div {
      margin-top: #{- $download-button-size / 2};
    }
    .psv-download-button div:before,
    .psv-download-button div:after {
      content: '';
      display: block;
      margin: 0 auto;
    }
    .psv-download-button div:before {
      width: #{2 * round($download-button-size / 4)};
      height: #{round($download-button-size / 2)};
      background: $buttons-color;
    }
    .psv-download-button div:after {
      width: 0;
      height: 0;
      border: #{round($download-button-size / 2)} solid transparent;
      border-top-color: $buttons-color;
    }