.psv-container .loader-container {
  @include flexbox();
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $loader-zindex;

  // Pseudo element trick to vertically center elements
  .psv-loader {
    position: relative;
    text-align: center;
    color: $loader-color;
    width: $loader-width;
    height: $loader-width;
    border: $loader-tickness solid transparent;

    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    &, .loader-image, .loader-text {
      display: inline-block;
      vertical-align: middle;
    }

    .loader-canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .loader-text {
      font: $loader-font;
    }
  }
}
