.psv-navbar {
  position: absolute;
  z-index: 100;
  bottom: 0;
  width: 100%;
  background: $navbar-background;
  
  &, & * {
    box-sizing: content-box;
  }

  .caption {
    color: $caption-color;
    margin: $buttons-padding;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-family: $caption-font;
  }

  .psv-button {
    float: left;
    padding: $buttons-padding;
    position: relative;
    cursor: pointer;
    height: $buttons-height;
    background: $buttons-background;
    
    &.active {
      background: $buttons-active-background;
    }
  }
}

@import "buttons/autorotate";
@import "buttons/download";
@import "buttons/fullscreen";
@import "buttons/zoom";
@import "buttons/markers";