$panel-resizer-grip-width: $panel-resizer-width - 4px;

@function makeDotShadow($color, $width, $height) {
  $val: 1px 0px $color;
  $x: 3;
  $y: 0;
  $w: $width / 1px;
  $h: $height / 1px;
  
  @while $y < $h {
    @if $x > $w {
      $x: 1;
      $y: $y + 2;
    }
    @else {
      $val: #{$val}, #{$x}px #{$y}px #{$color};
      $x: $x + 2;
    }
  }
  
  @return $val;
}

.psv-panel {
  position: absolute;
  z-index: 100;
  right: 0;
  height: 100%;
  width: $panel-width;
  max-width: calc(100% - #{$panel-resizer-width});
  background: $panel-background;
  transform: translate3D(100%, 0, 0);
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: default;
  margin-left: $panel-resizer-width;
  
  &.open {
    transform: translate3D(0, 0, 0);
    opacity: 1;
    transition-duration: 0.2s;
  }

  .psv-container.has-navbar &{
    height: calc(100% - #{$buttons-height + 2*$buttons-padding});
  }
  
  .resizer {
    position: absolute;
    top: 0;
    left: -$panel-resizer-width;
    width: $panel-resizer-width;
    height: 100%;
    background-color: $panel-resizer-background;
    cursor: col-resize;
    
    @if $panel-resizer-grip-width > 0px {
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: ($panel-resizer-width - $panel-resizer-grip-width) / 2 - 1px;
        margin-top: (-$panel-resizer-grip-height / 2);
        width: 1px;
        height: 1px;
        box-shadow: makeDotShadow($panel-resizer-grip-color, $panel-resizer-grip-width, $panel-resizer-grip-height);
        background: transparent;
      }
    }
  }
  
  .content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: $panel-text-color;
    font: $panel-font;
    overflow: auto;
    
    &:not(.no-margin) {
      padding: $panel-padding;
    }
    
    &.no-interaction{
      pointer-events: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}